<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>hbs</title>
</head>
<body>
    <h1>this is hbs file {{name}}</h1>
     <div class="container">
    <form action="/" method="POST"> 
    <label >Name:<input type="text" name="username"> <br></label>
    <label >Email:<input type="text" name="email"> <br></label>
    <label >Phone:<input type="text" name="phone"> <br></label>
     
     
     <input type="submit">
    </form>

    </div>
</body>
</html>